{% extends 'base.html' %}
{% load static %}
{% block title %}Permisos{% endblock %}
{% block page_title %}Permisos{% endblock %}

{% block page_actions %}
<nav aria-label="Navegacion de permisos">
    <a href="{% url 'permisos_lista' %}">Regresar</a>
</nav>
{% endblock %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0/dist/css/select2.min.css" rel="stylesheet">
<h1>Crear Permisos</h1>
    <form method="post">
        {% csrf_token %}

            <br>
            <label for="Modulo">Modulos:</label>
          <select id="modulo_id" name="modulo_id" required>
            <option value="">Seleccione el modulo</option>
            {% for modulo in modulos %}
                                        <option value="{{ modulo.id }}">{{ modulo.nombre }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="accion">Accion:</label>
        <input type="text" id="accion" name="accion" required placeholder="Accion">
        <br>
        </select>
        <button type="submit">Guardar</button>
    </form>

{% endblock %}
