<!DOCTYPE html>
<html lang="es">
<head>
    {% include 'base/head.html' %}
    <title>Dashboard</title>
</head>
<body>
    {% include 'base/layout.html' %}
    
    <main>
        <h1>Panel de Control</h1>
        <section>
            <h2>Resumen</h2>
            <!-- Aquí puedes incluir componentes o estadísticas relevantes -->
        </section>
        
        <section>
            <h2>Últimas Actividades</h2>
            <!-- Aquí puedes incluir una tabla o lista de actividades recientes -->
        </section>
    </main>

    {% include 'base/scripts.html' %}
</body>
</html>