{% extends 'base.html' %}
{% block title %}Editar Categoria{% endblock %}
{% block page_title %}Editar Categoria{% endblock %}

{% block page_actions %}
<nav aria-label="Navegacion de categorias">
    <a href="{% url 'categoria_herramientas_lista' %}">Regresar</a>
</nav>
{% endblock %}

{% block content %}
<h1>Editar Categoria</h1>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="nombre" value="{{ categoria.nombre }}" required placeholder="Nombre del Categoria">
        <input type="text" name="descripcion" value="{{ categoria.descripcion }}" placeholder="Descripción del Categoria">
        <button type="submit">Guardar</button>
    </form>
{% endblock %}
