{% extends 'base.html' %}
{% block title %}Eliminando Combustible{% endblock %}
{% block page_title %}Eliminando Combustible{% endblock %}

{% block page_actions %}
<nav aria-label="Navegacion de combustibles">
    <a href="{% url 'combustibles_lista' %}">Regresar</a>
</nav>
{% endblock %}

{% block content %}
<h1>Eliminar Combustible</h1>
    <p>¿Estás seguro de que quieres eliminar el combustible "{{ combustible.nombre }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Sí, eliminar</button>
        <a href="{% url 'combustibles_lista' %}">Cancelar</a>

    </form>
{% endblock %}
