{% extends 'base.html' %}
{% block title %}Vehiculos{% endblock %}
{% block page_title %}Vehiculos{% endblock %}

{% block page_actions %}
<nav aria-label="Navegacion de vehiculos">
    <a href="{% url 'vehiculos_lista' %}">Regresar</a>
</nav>
{% endblock %}

{% block content %}
<h1>Eliminar Vehiculo</h1>
    <p>¿Estás seguro de que deseas eliminar el vehículo "{{ vehiculo.placa }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Sí, eliminar</button>
        <a href="{% url 'vehiculos_lista' %}">Cancelar</a>
    </form>
{% endblock %}
