{% extends 'base.html' %}
{% block title %}Crear Modelo{% endblock %}
{% block page_title %}Crear Modelo{% endblock %}

{% block page_actions %}
<nav aria-label="Navegacion de modelos">
    <a href="{% url 'modelos_lista' %}">Regresar</a>
</nav>
{% endblock %}

{% block content %}
<h1>Nuevo Modelo</h1>
    <form method="post">
        {% csrf_token %}
    <input type="text" name="nombre" id="nombre" required placeholder="Nombre del Modelo">
    <button type="submit">Guardar</button>
    </form>
{% endblock %}
