{% extends 'base.html' %}
{% block title %}Editar Servicio{% endblock %}
{% block page_title %}Editar Servicio{% endblock %}

{% block page_actions %}
<nav aria-label="Navegacion de usuarios">
    <a href="{% url 'servicios_lista' %}">Regresar</a>
</nav>
{% endblock %}

{% block content %}
<h1>Editar Servicio</h1>
    <form method="post">
        {% csrf_token %}
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="{{ servicio.nombre }}" required>
        <br>
        <label for="descripcion">Descripción:</label>
        <input type="text" id="descripcion" name="descripcion" value="{{ servicio.descripcion }}" required>
        <br>
        <label for="categoria_id">Categoría:</label>
        <select id="categoria_id" name="categoria_id" required>
            <option value="">Seleccione una categoría</option>
            {% for categoria in categorias %}
                <option value="{{ categoria.id }}" {% if servicio.categoria_servicio_id == categoria.id %}selected{% endif %}>{{ categoria.nombre }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="precio_base">Precio Base:</label>
        <input type="number" id="precio_base" name="precio_base" value="{{ servicio.precio_base }}" step="0.01" required>
        <br>
        <label for="duracion_estimada">Duración estimada (HH:MM):</label>
        <input type="time" id="duracion_estimada" name="duracion_estimada" value="{{ servicio.duracion_hhmm }}" step="60" required>
        <br>
        <button type="submit">Guardar</button>
    </form>
{% endblock %}
